@font-face {
  font-family: Macondo;
  src: url(src/font/Macondo-Regular.ttf);
}
body{
  display: grid;
  grid-template-rows: 225px 1fr 200px; /*header body-content footer*/
  grid-template-areas: "header" "content" "footer";
  row-gap: 10px;
  background-color: hsl(210deg 8% 15%);
  height: 100vh;
}

.section-border{
  border-bottom: 3px rgb(0, 0, 0) solid;
}

/*Header Content*/
header{
  grid-area: header;
  display: grid;
  grid-template-columns: 50px 100px auto 100px 50px; /*There is an issue with the nav bar display when screensize changes*/
  grid-template-rows: 25px 100px 50px;
  grid-template-areas:
  "space space space space space" 
  "space4 logo title space5 space5" 
  "space4 logo-name navigation space5 space5"; /*I feel like this could have been done better*/
  row-gap: 10px;
  column-gap: 50px;
  background-color: rgb(100, 166, 240);
}

.logo {
  grid-area: logo;
  width: 100px;
}
#logo-image{
  width: 100px;
}

#logo-text{
  font-family: "Macondo";
  grid-area: logo-name;
  margin-top: -10px;
  margin-left: -40px;
  width: 200px;
  font-size: 25pt;
}
#title{
  font-family: "Macondo";
  font-size: 35pt;
  text-align: center;
  grid-area: title;
  align-items: center;
  justify-content: center;
}
nav{
  grid-area: navigation;
  background: black;
  margin: auto;
  font: 18pt "Macondo";
  line-height: 20px;
}
nav li{
  list-style-type: none;
  float: left;
  text-align: center;
  background: green;
  width: 150px;
  height: 55px;
  padding-top: 20px;
}
ul{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* End of Header Content */

/* Main Content */
#survey-page{
  background-color: blueviolet;
  display: grid;
  grid-template-columns: 160px auto 160px  ; /*left-edge, logo content(title, navigation), space, right-edge*/
  grid-template-rows: 25px 100px 50px; /*space, logo title, subtitle, navigation*/
  grid-template-areas:
  "space space space space space" 
  "space4 logo title space5 space5" 
  "space4 logo-name navigation space5 space5"; /*I feel like this could have been done better*/
  row-gap: 10px;
  column-gap: 50px;
}
/* End of Main Content */

/* Footer */
footer{
  grid-area: footer;
  background-color: rgb(30, 30, 30);
  color: hsl(210deg 8% 75%);
}
.footer-content{
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr)) ;
  grid-template-rows: auto auto;
  grid-template: 
  "one two three four five"
  "copyright copyright copyright copyright copyright";
  column-gap: 10px;
  row-gap: 10px;
  align-items: flex-start;
  justify-content: center;
  width: 50vw;
  margin: 10px auto;
}
.footer-content div{
  min-width: 150px;
  max-width: 300px;
}
.footer-heading{
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-variant: small-caps;
  font-size: 12pt;
}
footer li{
  list-style-type: none;
  font-size: 10pt;
}
footer a{
  color: hsl(210deg 8% 55%);
  text-decoration: none;
}
footer a:hover{
  color:brown;
}
.footer-connect{
  grid-area: one;
}
.footer-company{
  grid-area: two;
}
.footer-services{
grid-area: three;
}
.footer-get-help{
  grid-area: four;
}
.footer-mailing{
  grid-area: five;
}
#copyright{
  grid-area: copyright;
}





/* End of Footer */
