@font-face {
  font-family: Macondo;
  src: url(src/font/Macondo-Regular.ttf);
}
body{
  display: grid;
  grid-template-rows: 125px 1fr 200px; /*header body-content footer*/
  grid-template-areas: "header" "content" "footer";
  row-gap: 10px;
  background-color: hsl(210deg 8% 15%);
  height: 100vh;
}

.section-border{
  border-bottom: 3px rgb(0, 0, 0) solid;
}

/*Header Content*/
header{
  grid-area: header;
  display: grid;
  grid-template-columns: 50px 100px auto 100px 50px; /*There is an issue with the nav bar display when screensize changes*/
  grid-template-rows: 100px 50px;
  grid-template-areas:
  "space4 logo navigation space5 space5" 
  "space4 logo-name space space5 space5"; /*I feel like this could have been done better*/
  row-gap: 10px;
  column-gap: 50px;
  background-color: rgb(100, 166, 240);
}

.logo {
  grid-area: logo;
  width: 100px;
}
#logo-image{
  width: 100px;
}

#logo-text{
  font-family: "Macondo";
  grid-area: logo-name;
  margin-top: -30px;
  margin-left: -40px;
  width: 200px;
  font-size: 25pt;
}

nav{
  grid-area: navigation;
  margin: 20px auto 0px auto;
  font: 18pt "Macondo";
  line-height: 20px;
  height: 50px;
}
nav li{
  list-style-type: none;
  float: left;
  text-align: center;
  width: 150px;
  height: 100%;
  padding-top: 20px;
  transition: 0.4s;
}
nav li:hover{
  color: gray;
}
nav a{
  text-decoration: none;
  color: inherit;
}
ul{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* End of Header Content */

/* Main Content */
#page-content{
  background-color: blueviolet;
  display: grid;
  grid-area: content;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "space1 title space2" 
  "space1 content space2" 
  "space1 form space2";
  row-gap: 5px;
  column-gap: 50px;
  font-size: 14pt;
}
#title{
  font-family: "Macondo";
  font-size: 35pt;
  text-align: center;
  grid-area: title;
  align-items: center;
  justify-content: center;
}
#description-box{
  grid-area: content;
  margin: auto;
}
#survey-form-box{
grid-area: form;
max-width: 70%;
margin: 0px auto 10px auto;
font-size: 18pt;
border: 2px solid black;
}
#survey-form-elements{
  margin-left: 10px;
}
#user-data{
  display: flex;
  flex-direction: row;
}
#form-input{
  order: 2;
  width: 70%;
  display: flex;
  flex-direction: column;
}
#form-input input{
  margin: 10px 0px -10px 0px;
}
#form-labels{
  order: 1;
  width: 30%;
  display: flex;
  flex-direction: column;
}
#form-labels label{
  margin: 15px 0px -5px 20px;
}
.input-box{
  border: 2px hsl(210deg 8% 15%) solid;
  width: 70%;
  height: 30px;
  margin-bottom: 20px;
}
#inprovements-checkbox-div{
  display: flex;
  flex-direction: row;
  margin: auto 25px;
  column-gap: 20px;
}
.improvements-checkbox{
margin-left: -20px;
}
.improvements-label{
margin-right: 18px;
}
#improvements-left-column{
  order: 1;
  width: 50%;
}
#improvements-right-column{
  order: 2;
  width: 50%;
}
#additional-improvements{
  height: 100px;
  max-width: 70%;
}
#submit-label{
  float: right;
  margin: 60px 100px 40px 0px;
}
/* End of Main Content */

/* Footer */
footer{
  grid-area: footer;
  background-color: rgb(30, 30, 30);
  color: hsl(210deg 8% 75%);
}
.footer-content{
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr)) ;
  grid-template-rows: auto auto;
  grid-template: 
  "one two three four five"
  "copyright copyright copyright copyright copyright";
  column-gap: 10px;
  row-gap: 10px;
  align-items: flex-start;
  justify-content: center;
  width: 50vw;
  margin: 10px auto;
}
.footer-content div{
  min-width: 150px;
  max-width: 300px;
}
.footer-heading{
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-variant: small-caps;
  font-size: 12pt;
}
footer li{
  list-style-type: none;
  font-size: 10pt;
}
footer a{
  color: hsl(210deg 8% 55%);
  text-decoration: none;
}
footer a:hover{
  color:brown;
}
.footer-connect{
  grid-area: one;
}
.footer-company{
  grid-area: two;
}
.footer-services{
grid-area: three;
}
.footer-get-help{
  grid-area: four;
}
.footer-mailing{
  grid-area: five;
}
#copyright{
  grid-area: copyright;
}
/* End of Footer */

/* Beginning of Responsive Design */
/* first resolution to deal with 1566 width 800+ height */
/* End of Responsive Design */